# Renomeie este arquivo para .env e preencha com suas credenciais
# lembrar de explicar isso no readme

DB_HOST=localhost
DB_USER=
DB_PASSWORD=
DB_DATABASE=
DB_PORT=5432
PORT=3333
SUPABASE_URL=
SUPABASE_KEY=