# Renomeie este arquivo para .env e preencha com suas credenciais
# lembrar de explicar isso no readme

DB_USER=postgres
DB_PASSWORD=
DB_NAME=oficina-mecanica
DB_HOST=
DB_DIALECT=postgres
SUPABASE_URL=
SUPABASE_KEY=