# ==========================================
# CONFIGURAÇÕES DO BANCO DE DADOS (SEQUELIZE)
# ==========================================
DB_USER=postgres
DB_PASSWORD=(Ex:Oficina@2026)
DB_NAME=postgres
DB_HOST=db.SEU_BANCO.supabase.co
DB_PORT=5432

# ==========================================
# CONFIGURAÇÕES DO SUPABASE CLIENT
# ==========================================
SUPABASE_URL=https://SEU_BANCO.supabase.co
SUPABASE_KEY=SUA_KEY