DB_USER=postgres.uyujvcixprpjdcakltsb #Seu user
DB_PASSWORD=Oficina@2026 #Sua senha
DB_NAME=postgres
DB_HOST=aws-1-sa-east-1.pooler.supabase.com #Sua região
DB_PORT=5432

SUPABASE_URL=https://uyujvcixprpjdcakltsb.supabase.co #Project URL
SUPABASE_KEY=sb_publishable_DjjZWqLxHUHktdCtBzAYJQ_DR50SkMY #Publishable key